node.id=NodeC
node.host=localhost
node.port=7003
peers=NodeA:nodea:7001,NodeB:nodeb:7002
replication.n=3
replication.w=2
replication.r=2
vnodes.count=150
heartbeat.interval.ms=1000
heartbeat.timeout.ms=2000
heartbeat.miss.threshold=3
client.thread.pool.size=50
client.idle.timeout.ms=30000
replication.timeout.ms=5000
